<a href="https://colab.research.google.com/github/KOLLURUSRIKAR/PYTHON-PRACTICE/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# sets

In [ ]:
set={"apple","banana","cherry"}
print(set)

{'cherry', 'apple', 'banana'}

In [ ]:
# duplicates are not allowed in sets
set={"apple","banana","cherry","apple"}
print(set)

{'cherry', 'apple', 'banana'}

In [ ]:
# length of a set
set={"apple","banana","cherry","apple"}
print(len(set))

3

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'cherry', 'apple', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

In [ ]:
# accessing elements in sets
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)
print("success!")
# accesing one of the element
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

cherry
apple
banana
success!
True

In [ ]:
# adding items in sets
thisset={"vizag","vijayawada","hyderabad"}
thisset.add("ongole")
print(thisset)

{'vijayawada', 'ongole', 'hyderabad', 'vizag'}

In [ ]:
# updating set with a set
thisset = {"apple", "banana", "cherry"}
fruits = {"pineapple", "mango", "papaya"}

thisset.update(fruits)

print(thisset)

{'pineapple', 'papaya', 'mango', 'cherry', 'apple', 'banana'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
list1 = ["kiwi", "orange"]
set1.update(list1)
print(set1)

{'kiwi', 'banana', 'orange', 'cherry', 'apple'}

In [ ]:
# removing items
set1 = {"apple", "banana", "cherry"}
set1.remove("banana")
print(set1)

{'cherry', 'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
x = set1.pop()
print(x)
print(set1)

cherry
{'apple', 'banana'}